/*pagina principal*/
body {}

h1 {
  color: white;
  font-size: 60px;
}

.titulo-principal {
  background: #AA1F22;
  padding: 3%;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: center;
}

#planetaterra {
  /*	position: absolute; */
  /*  top: 17px;
    left: 300px;*/
  margin-right: 30px;
  width: 300px;
  margin-left: 10%;


}

.paragrafo {
  text-align: center;
  font-size: 30px;
  margin-left: 15px;
  margin-right: 15px;
  color: #47525E;
  padding: 3%;

}

.paragrafo2: first-letter {
  font-size: 35px;
  font-weight: bold;


}

.lista {

  display: inline-block;
  text-align: center;
  margin-left: 45%;
}

.lista:first-child {
  font-weight: bold;
}

.itens {
  font-size: 30px;
  margin-left: 45%;
  padding: 1%;
}

.botão1 {
  display: inline-block;
  color: white;
  font-size: 30px;
  margin-left: 1500px;
  bottom: 120px;
  position: static;
  width: 315px;
  height: 80px;
  background-color: #AA1F22;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.botão2 {
  display: inline-block;
  color: white;
  font-size: 30px;
  margin-left: 1500px;
  margin-top: 5px;
  bottom: 130px;
  position: static;
  width: 315px;
  height: 80px;
  background-color: #AA1F22;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

/*informações*/

.tipos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 2%;
}

.tipos button {
  padding: 7px;
  border: 2px black solid;
  border-radius: 10px;
  background-color: transparent;
  font-size: 40px;
  margin-right: 100px;
  margin-left: 100px;
  text-decoration: none;
}

.caixa {
  border: 8px black dashed;
  justify-content: center;
  padding: 10%;
  margin-top: 15%;
  margin-left: 20%;
  margin-right: 20%;
  background: #800080;
  box-shadow: 3px 4px 7px 8px black;
}

#mundo {
  margin-left: 27%;

}

.container-botao-votlar {
  justify-content: end;
  display: flex;
}

.voltar {
  margin-top: 60px;
  background-color: transparent;
  border: 2px black solid;
  border-radius: 5px;
  font-size: 30px;
  margin-right: 15px;
  margin-top: 30%;
}

/*sugestões*/
.container-botao-retorno {
  justify-content: end;
  display: flex;
}

.retorno {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*sugestoes_contato*/
.titulo_sugestoes {
  background: #AA1F22;
  padding: 1%;
  /*	display: flex;*/
  flex-direction: row-reverse;
  width: 100%;
  /*	justify-content: center;*/
}

.titulo_sugestoes h1 {
  color: white;
  /*	font-size: 40px;*/
  margin-top: 3%;
  margin-left: 200px;
}

.titulo_sugestoes p {
  color: white;
  font-size: 40px;
  margin-top: 2%;
  margin-left: 550px;
}

.formulario {}

#titulo_form {
  font-family: sans-serif;
  color: black;
  margin-left: 7%;
}

#subtitulo {
  font-family: sans-serif;
  color: black;
  margin-left: 15%;

}

fieldset {
  border: 0;

}

input,
select {
  border-radius: 5px;
}

.campo {
  margin-bottom: 1%;
  margin-left: 5%;
}

.campo label {
  margin-bottom: 1%;
  color: #59429d;
  display: block;
}

fieldset.grupo .campo {
  float: left;
  margin-right: 1%;
}

.botao_form {
  font-size: 20px;
  background: #59429d;
  border: 0;
  margin-bottom: 1%;
  color: white;
  padding: 1%, 1%;
  position: absolute;
  /*	top: 90%;*/
  left: 15%;
  margin-right: -50%;

}


.botão_sugestoes_voltar {
  background-color: transparent;
  color: #fff;
  border: 2px black solid;
  padding: 20px 30px;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 90%;
  margin-top: 50%;
  font-size: 20px;
}

/*Tipo de alimentação*/
.titulo_alimentacao {
  background: #AA1F22;
  padding: 1%;
  /*	display: flex;*/
  flex-direction: row-reverse;
  width: 100%;
}

.titulo_alimentacao h2 {
  color: white;
  font-size: 50px;
}


/*tipi_de_treino*/
.titulo_treino {
  background: #AA1F22;
  padding: 3%;
  /*	display: flex;*/
  flex-direction: row-reverse;
  width: 100%;
}

.titulo_treino h2 {
  color: white;
  font-size: 50px;
}

.mapa {
  text-align: center;
  padding: 3em 30px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 3%;
  background: linear-gradient(yellow, red);
}

.mapa p {
  font-size: 30px;
}

/*Suplementação*/
.titulo_suplementacao {
  background: #AA1F22;
  padding: 3%;
  /*	display: flex;*/
  flex-direction: row-reverse;
  width: 100%;
  /*	justify-content: center;*/
}

.titulo_suplementacao h2 {
  color: white;
  font-size: 50px;
}

.texto {
  margin-left: 5%;
  font-size: 25px;
}

.imagem_treino {
  margin-left: 30%;
  margin-right: 30%;
}

.treino {
  margin-left: 45%;

}

#treino {
  opacity: 0.5;
  box-shadow: 10px 10px red;
  width: 30%;
}